@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap");


.canvas{
    position:absolute;
    border: 3px solid blue;
    width: 75%;
    height: 80%;
    text-align: center;
}


.list{
    
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgb(109, 174, 224);
    */
    position:absolute;
    flex:1;
    bottom:0;
    right:0;
    width: 25%;
    height: 60%;
    border: 3px solid green;
}


.position{
    /* box-shadow: 0 4px 8px 0 rgba(2, 37, 102, 0.2);
    border-radius: 5px;
    background-color: rgb(4, 46, 78);
    */

    position:absolute;
    flex:1;
    top:0;
    right:0;
    height:40%;
    width:25%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    
    

}

.shapes{
    
    /* background-color:rgb(17, 139, 196); */
    
    position: absolute;
    flex: 1;
    bottom: 0;
    border: 3px solid green;
    text-align:center;
    height:20%;
    width:75%;
    
    
}

.x{
    background-color: pink;
    border: 10px solid rgb(0, 0, 0);
}


